.violinsMain {
  display: flex;
  flex-direction: column;
  width: 100%;

  .violinsSection {
    width: 100%;

    .violinsDescription {
      margin-top: 10px;
      
      .description {
        letter-spacing: 1.2px;
        line-height: 32px;
        font-size: 1.2rem;
        color: #a1a1aa;
      }

      .violinsImages {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;

        .imageIlustration {
          object-fit: cover;
          object-position: 0 80%;
          border-radius: 8px  ;
        }
      }
    }
  }

  .violinsForSale {
    margin-top: 50px;
  }
}