.cellosMain {
  display: flex;
  flex-direction: column;
  width: 100%;

  .cellosSection {
    width: 100%;

    .cellosDescription {
      margin-top: 10px;
      
      .description {
        letter-spacing: 1.2px;
        line-height: 32px;
        font-size: 1.2rem;
        color: #a1a1aa;
      }
    }
  }

  .cellosForSale {
    margin-top: 50px;
  }
}